<?xml version="1.0"?>

<launch>
    <!--<include file="$(find erratic_navigation)/navigation_slam/slam_gmapping.launch" />-->
  <include file="$(find hector_mapping)/launch/mapping_default.launch">
    <arg name="base_frame" value="base_link"/>
    <arg name="odom_frame" value="odom"/>
    <arg name="pub_map_odom_transform" value="true"/>
    <arg name="scan_subscriber_queue_size" value="5"/>    
    <arg name="scan_topic" value="base_scan/scan" />    
  </include>
    
    <include file="$(find hector_wall_planner)/launch/move_base_slam_wall.launch" />
    
    <!-- costmap_2d markers -->
    <node pkg="costmap_2d" type="costmap_2d_markers" name="voxel_visualizer">
        <remap from="voxel_grid" to="move_base_node/local_costmap/voxel_grid_throttled"/>
    </node>
</launch>
